<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS DE RED -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_solinx_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_solinx_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoLinX"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- SPLASH SCREEN (launcher) -->
        <activity
            android:name=".CargaActivity"
            android:exported="true"
            android:theme="@style/Theme.SoLinX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- ACTIVIDADES QUE SE ABREN POR INTENT -->
        <activity android:name=".AlumnoCrearCuenta" android:exported="true" />
        <activity android:name=".IniciarSesion" android:exported="true" />
        <activity android:name=".MenuSupervisorActivity" android:exported="true" />
        <activity android:name=".EmpresaCrear" android:exported="true" />
        <activity android:name=".AlumnoEnviarSolicitud" android:exported="true" />
        <activity android:name=".AlumnoMenuEmpresas" android:exported="true" />
        <activity android:name=".EmpresaVista" android:exported="true" />

        <!-- ACTIVIDADES INTERNAS QUE NO SE ABREN POR INTENT DIRECTO -->
        <activity android:name=".menu_super" android:exported="false" />
        <activity android:name=".EmpresaNotificaciones" android:exported="false" />
        <activity android:name=".AlumnoVistaCuenta" android:exported="false" />
        <activity android:name=".SupervisorEmpresaAceptarActivity" android:exported="false" />
        <activity android:name=".SupervisorSolicitudesAlumnoActivity" android:exported="false" />

        <!-- COMPATIBILIDAD CON HTTP (solo desarrollo) -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>
</manifest>