<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_solinx_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_solinx_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoLinX"
        tools:targetApi="31">
        <activity
            android:name=".menu_super"
            android:exported="false" />
        <!-- 1. CargaActivity: PUNTO DE INICIO (LAUNCHER) -->
        <activity
            android:name=".CargaActivity"
            android:exported="true"
            android:theme="@style/Theme.SoLinX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 2. MainActivity: El destino de la carga (Se mantiene) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- 3. Las demás Activities (el orden no importa) -->
        <activity
            android:name=".creSesion"
            android:exported="false" />
        <activity
            android:name=".NotificacionesEmp"
            android:exported="false"
            android:theme="@style/Theme.SoLinX" />
        <activity
            android:name=".Vcalumno"
            android:exported="false" />
        <activity
            android:name=".iniSesion"
            android:exported="false" />
        <activity
            android:name=".EnviarSolicitud"
            android:exported="false" />
        <activity
            android:name=".MenuSupervisorActivity"
            android:exported="false" />
        <activity
            android:name=".SupervisorAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SupervisorTareasActivity"
            android:exported="false" />
        <activity
            android:name=".MenuEmpresas"
            android:exported="false" />
        <activity
            android:name=".CrearEmpresa"
            android:exported="false" />
        <activity
            android:name=".VistaEmpresas"
            android:exported="false" />



    </application>

</manifest>